<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.name.to_s %></td>
        <td><%= user.email.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "New User", new_user_path %></p>
